*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 16px;
}

body{
   background-color:#F5F5F7 ; 
}



.logo{
    text-decoration: none;
    color: #2e364c;
    font-size: 1.70rem;
    margin-left: 2rem;
    font-family:"Manrope", sans-serif;
    font-weight: 900;
    cursor: pointer;
    
}

.logo-span{
    color: pink;
}

.nav-container{
    background-color: #050713;
    position: relative;
    height: 4.2rem;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    
   
}

.nav ul{
 display: flex;
 gap:100px;
 margin: 0 auto;
 padding-left: 11rem;
 align-items: center;
justify-content: center;

}

.nav ul a{
    color: white;
    font-size: 1.25rem;
    font-family:"Manrope", sans-serif;
    font-weight: 600;
}

.icons{
    display: flex;
    color: black;
    gap: 3rem;
    cursor: pointer;
    padding-right: 2rem;
    

}

.icons a{
    text-decoration: none;
}


.icons a  span{
    color: white;
    font-size: 1.25rem;
    font-family:"Manrope", sans-serif;
    font-weight: 700;
    cursor: pointer;
    
}

.fa-brands.fa-github{
color:white
}

.fa-brands.fa-square-linkedin{
   color: #0077b5
}


.fa-brands.fa-square-linkedin span{
    color: black;
    font-size: 1.25rem;
    font-family:"Manrope", sans-serif;
    font-weight: 700;
    cursor: pointer;

}



#hero-header{
    font-size: 4rem;
    color: black;
    font-family:"Manrope", sans-serif;
    font-weight: 700;
    width: 500px;
    color: pink;
}

#hero-text{
    font-family: "DM Sans", 
    sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    width: 500px;
    color: white;
    
}



.hero-text-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:300px;
    gap: 1.5rem;
    padding:7rem 0px;
}


#hero-contact-btn{
    margin-left: 11rem;
    cursor: pointer;
   padding: 1rem;
   background-color: #050713;
   color: white;
   border-radius: .40rem;
   border-width: .25px;
}


.mid-img{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    transform: translateY(-85px);
}

.center-img{
    max-width: 650px;
    height: auto;
    
}


.hero-container{
    display: flex;
    justify-content: space-between;
    background-color: #0f131e;
    width: 100%;
    min-height: 100vh;
    padding: 0px 80px;
    
}



.skills-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 8rem;
    padding-bottom: 13rem;
}


.skills-top{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skills-mid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
}

.skills-btm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}


#skills{
height: 100px;
width:100px;
}


#skills-text{
    font-size: 4rem;
    color: pink;
    font-family:"Manrope", sans-serif;
    font-weight: 700;
    padding-top: 3rem;
}



.btm-container{
    min-height: 100vh;
    background-color:#050713 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-heading{
    font-size: 4rem;
    color: pink;
    font-family:"Manrope", sans-serif;
    font-weight: 700;
    width: 500px;
    padding-left: 5rem;
}

form{
    display: grid;
    gap: .5rem;
    padding-right: 8rem;
}

.form-group{
    display: grid;
    gap: .25rem;
  
}

label{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .75rem;
    font-family:"Manrope", sans-serif;
    font-weight: 500;
}

input{
    text-align: center;
    border-radius: .25rem;
    width:500px;
    height: 3rem;
    width:100%;
    border-width: .25px;
}


textarea{
    height: 6rem;
    width: 500px;
    padding-left: 1rem;
    padding-top: .5rem;
}

textarea::placeholder{
  text-align: center;
  padding-top: 2rem;
}


#form-submit{
    width:500px;
    height: 3rem;
    background-color:#007bff;
    border-width: .25px;
    color: white;
    border-radius: .40rem;
}


.success-msg{
    background-color: #050713;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-msg h1{
    color: pink;
    font-family: "DM Sans", 
    sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}
